.footer {
   
    background-color:#252934;
    color: white;
    text-align: center;
    margin:0;
    padding: 30;
  }

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    background: #262F38;
    color: white;

}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    background: #65b5aa;
}
  


.social
{
    display: flex;
    justify-content: center;

}