* {
  margin: 0;
  padding: 0;
  border: none; 
 
}

html{

  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #252934;
  
  min-height: 100vh;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
